@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NetBoekhouden</h1>
    <p class="lead">NetBoekhouden is een boekhoudapplicatie in wording. Als eerste zal een facturatiefunctie beschikbaar komen.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Meer informatie &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Boekhouden</h2>
        <p>
            Het doel van deze software is een open source boekhoudapplicatie te bieden voor Nederlandse ZZP-ers. De software moet dus makkelijk te gebruiken en te begrijpen zijn.
        </p>
        <p><a class="btn btn-default" href="#">Meer informatie &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facturatie</h2>
        <p>Een module voor het opstellen, beheren en afdrukken van facturen. Uiteindelijk moet het mogelijk te om terugkerende facturen (wekelijks, maandelijks, jaarlijks) op te stellen.</p>
        <p><a class="btn btn-default" href="#">Meer informatie &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Relaties</h2>
        <p>Een module voor het beheren van debiteuren en crediteuren.</p>
        <p><a class="btn btn-default" href="#">Meer informatie &raquo;</a></p>
    </div>
</div>